body{
  display:flex;
  flex-direction:column;
  background-color: #f1e9c6;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#aiHand1{
  margin-top:180px;
  margin-right:auto;
}

#aiHand1 .active{
    margin-left:50px;
    position:relative;
    top:5px;
}

#aiHand2{
   margin-top:50px;
}

#aiHand2 .active{
  position:relative;
    top:100px;
    right:75px;
}

#aiHand3{
   margin-top:-70px;
    margin-left:auto;   
        
}

#aiHand3 .active{
  position:relative;
    right:200px;
    top:5px;
}

#active1{
    margin-top:150px;
}


.image-card {
  background-image: url("../images/yoda-stitch.jpg");
  background-position: center;
}

.HandCard{
  height:75px;
  width:50px;
}

.SideCard{
  width:100px;
  height:66px;
}

.aiFront{
  transform: rotate(90deg);
  
}

.HandCard1{
  height:66px;
  width:100px;
}

#playerHand{
display:flex;
}
// TYPOGRAPHY
h2 {
  font-size: 3rem;
}
