

body {
  background-color: #f1e9c6;
  color: blue;
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}




.image-card {
  background-image: url("../images/yoda-stitch.jpg");
  background-position: center;
}

.HandCard{
  height:75px;
  width:50px;
}

.SideCard{
  width:75px;
  height:50px;
}

.aiFront{
  transform: rotate(90deg);
  
}

.HandCard1{
  height:50px;
  width:75px;
}

#playerHand{
display:flex;
}
// TYPOGRAPHY
h2 {
  font-size: 3rem;
}
